<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">SignIn</h3>
  </div>
  <div class="panel-body">
    <form ng-submit="vm.signInAdmin()">
      <label for="login">Login:</label>
      <input class="form-control" type="text" id="login" ng-model="vm.loginAdmin"><br>
      <label for="password">Password:</label>
      <input class="form-control" type="text" id="password" ng-model="vm.passwordAdmin"><hr>
      <input class="btn btn-success pull-left" type="submit" value="SignIn">
    </form>
    <div class="clearfix"></div>
  </div>
</div>