<div>

  <h3 class="text-center">Edit Book</h3>
  <hr>

  <form ng-submit="vm.editBook()" name="formEdit">      
    <label for="title">Title</label>
    <input class="form-control" type="text" ng-model="vm.books[0].title" name="title" id="title" required>
    <div ng-if="formEdit.title.$touched" ng-messages="formEdit.title.$error">
      <div ng-message="required" class="red">* Please enter a value for this field.</div>
    </div>

    <label for="author">Author</label>
    <input class="form-control" type="text" ng-model="vm.books[0].author" name="author" id="author" required>
    <div ng-if="formEdit.author.$touched" ng-messages="formEdit.author.$error">
      <div ng-message="required" class="red">* Please enter a value for this field.</div>
    </div>

    <label for="category">Category</label>
    <input class="form-control" type="text" ng-model="vm.books[0].category" name="category" id="category" required>
    <div ng-if="formEdit.category.$touched" ng-messages="formEdit.category.$error">
      <div ng-message="required" class="red">* Please enter a value for this field.</div>
    </div>
    
    <label for="price">Price</label>
    <input class="form-control" type="number" ng-model="vm.books[0].price" name="price" id="price" required>
    <div ng-if="formEdit.price.$touched" ng-messages="formEdit.price.$error">
      <div ng-message="required" class="red">* Please enter a value for this field.</div>
      <div ng-message="number" class="red">* Price not have letter, only number.</div>
    </div>
    <br>

    <input class="btn btn-success" type="submit" value="Save"></button>
  </form>
  
  <br>

  <button class="btn btn-primary" ng-click="admin.books">Back</button>

</div>
