<md-content layout-padding>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Books</span>
      </h3>
    </div>
  </md-toolbar>
  <md-list-item class="md-2-line books_line_style" ng-repeat="book in lengthArr = ( vm.books | filter: search | orderBy: main.sortStr )">
    <div class="md-list-item-text">
      <h3><b>Title:</b> {{ book.title }} </h3>
      <p><b>Author:</b> {{ book.author }} </p>
      <p><b>Category:</b> {{ book.category }}</p>
      <p><b>Price:</b> {{ book.price }} $</p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-click="vm.deleteBook(book.id)">
      <md-icon class="material-icons red">delete</md-icon>
    </md-button>
    <md-button class="md-secondary md-icon-button" ng-click="admin.books.edit({id: book.id})">
      <md-icon class="material-icons blue">mode_edit</md-icon>
    </md-button>
  </md-list-item>
</md-content>

<!--
<a ng-click="vm.logOut()" class="btn btn-danger logout">LogOut</a>
<a ui-sref="admin.orders" class="btn btn-info orders">Orders</a>
<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="pull-left"><b>List Books</b></h5> 
      <a class="btn btn-primary pull-right" ui-sref="admin.books.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a><br><br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" ng-class="{ red: lengthArr.length == 0 }" placeholder="Search" aria-describedby="basic-addon1" ng-model="search">
      </div>
    </div>
    
    <div class="panel-body">
      <table class="table">

        <thead>
          <tr>
            <td ng-click="vm.sortFunc('title')"><b>Title</b></td>
            <td ng-click="vm.sortFunc('author')"><b>Author</b></td>
            <td ng-click="vm.sortFunc('category')"><b>Category</b></td>
            <td ng-click="vm.sortFunc('price')"><b>Price</b></td>
          </tr>
        </thead>
        
        <tbody>
          <tr ng-repeat="book in lengthArr = ( vm.books | filter: search | orderBy: main.sortStr )">
            <td ng-bind="book.title"></td>
            <td ng-bind="book.author"></td>
            <td ng-bind="book.category"></td>
            <td >{{book.price}} $</td>
            <td>
              <a ng-click="vm.deleteBook(book.id)" class="btn btn-danger">
                <i class="glyphicon glyphicon-minus"></i>
              </a>
            </td>
            <td>
              <a ui-sref="admin.books.edit({id: book.id})" class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      
      </table>
    </div>
  
  </div>
  
  <div class="text-center" ng-bind="'Кількість книг: ' + lengthArr.length"></div>

</div>-->