<div class="text-center">
  <h3>Order:</h3>
</div>

<div class="thumbnail">
  <div class="caption">
    <table class="table">
      <thead>
        <tr>
          <td>BOOK</td>
          <td>QTY</td>
          <td>PRICE</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cart in vm.carts | filter: search">
          <td>{{cart.booktitle}}</td>
          <td>{{cart.query}}</td>
          <td>{{cart.price}}</td>
          <td>
            <a href="" ng-click="vm.deleteOneCart(cart.id)" class="btn btn-danger"><i class="glyphicon glyphicon-minus mr-i"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-if="!vm.userControle" class="red">* If you want make order please go to signIn!!!</p>
    <p ng-if="vm.carts.length == 0" class="red">* Please choose a goods!!!</p>
    <a ng-disabled="!vm.userControle || (vm.carts.length == 0)" ng-click="vm.buy()" class="btn btn-success"><i class="glyphicon glyphicon-usd mr-i"></i>Buy</a>
  </div>
</div>