<md-content>
  <md-list-item class="md-2-line" ng-repeat="cart in vm.carts">
    <div class="md-list-item-text">
      <h3><b>Title:</b> {{ cart.booktitle }} </h3>
      <p><b>QTY:</b> {{ cart.query }} </p>
      <p><b>Price:</b> {{ cart.price }} $</p>
    </div>
    <md-button class="md-secondary md-icon-button" ng-click="vm.deleteOneCart(cart.id)">
      <md-icon class="material-icons red">delete</md-icon>
    </md-button>
  </md-list-item>
  <div layout="row" layout-align="end center">
    <h4 class="red total_money"><b>Total:</b> {{vm.totalPrice}} $</h4>
  </div>
  <p ng-if="!vm.userControle" class="red">* If you want make order please go to signIn!!!</p>
  <p ng-if="vm.carts.length == 0" class="red">* Please choose a goods!!!</p>
  <div layout="row" layout-align="start center">
    <md-button class="md-rised" ng-disabled="!vm.userControle || (vm.carts.length == 0)" ng-click="vm.buy()">
      <md-icon class="material-icons">attach_money</md-icon>
      Buy
    </md-button>
  </div>
</md-content>