<div>
  <!--SideNav-->
  <md-sidenav class="md-sidenav-left md-whiteframe-4" md-component-id="left">
 
    <div ng-click="toggleLeft()" class="btn_close_sidenav" style="cursor: pointer;">
      <md-icon class="material-icons white">clear</md-icon>  
    </div>    

    <!--User-->
    <div ng-hide="vm.user">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Profile</span>
          </h3>
        </div>
      </md-toolbar>
      <md-card>
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-sm card-media" layout>
              <md-icon class="material-icons md-18">face</md-icon>
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{vm.userName}}</span>
            <a href="" class="md-subhead" ng-click="vm.logOut()"><span class="red">Logout</span></a>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>

    <div ng-if="vm.user == true" layout="row" layout-align="space-between center" layout-wrap>
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Autoresation</span>
          </h3>
        </div>
      </md-toolbar>
      <md-button class="md-raised" ui-sref="auth.signin">SignIn</md-button>
      <md-button class="md-raised" ui-sref="auth.signup">SignUp</md-button>
    </div>

    <!--Cart-->
    <div ng-hide="vm.carts.length == 0">

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
            <span>Cart</span>
          </h3>
        </div>
      </md-toolbar>

      <md-list-item class="md-2-line" ng-repeat="cart in vm.carts">
        <div class="md-list-item-text">
          <h3><b>Title:</b> {{ cart.booktitle }} </h3>
          <p><b>QTY:</b> {{ cart.query }} </p>
          <p><b>Price:</b> {{ cart.price }} $</p>
        </div>
        <md-button class="md-secondary md-icon-button" ng-click="vm.deleteOneCart(cart.id)">
          <md-icon class="material-icons red">delete</md-icon>
        </md-button>
      </md-list-item>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised" ng-click="toggleLeft()" ui-sref="site.cart">
          <md-icon class="material-icons">assignment</md-icon>
        </md-button>
      </div>
      
    </div>

    <!--Categories-->
    <div>

      <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
          <h3>
            <span>Categories</span>
          </h3>
        </div>
      </md-toolbar>

      <md-list-item ng-click="toggleLeft()" ng-repeat="book in vm.categories" ui-sref="site.category({id: book.category})">
        <div class="md-list-item-text" layout="column">
          {{ book.category }}
        </div>
      </md-list-item>

    </div>

  </md-sidenav>

  <div layout="column" class="fixed_header">
    <md-toolbar class="md-hue-2">

        <div class="md-toolbar-tools" layout-align="space-between center">

          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>

          <h2>Book Store</h2>

          <md-button class="md-icon-button" aria-label="Settings" ui-sref="site.books">
            <md-icon class="material-icons">home</md-icon>
          </md-button>

        </div>

    </md-toolbar>
    <md-content>

      <ui-view></ui-view>

    </md-content>
  </div>
</div>


<md-sidenav>
    
    

</md-sidenav>

<!--
<div class="header br-nav-b">
  <ul class="nav nav-pills">
    <li role="presentation"><a ui-sref="site.books" class="logo"><img src="/app/site/img/logo.png"></a></li>
    <li role="presentation" ng-if="vm.userControle" class="pull-right"><a ui-sref="auth.signup"><i class="fa fa-user-plus rm-i"></i>Sign up</a></li>
    <li ng-if="vm.userControle != true" role="presentation" class="pull-right">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle login_btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-user"></i> {{vm.userName}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li><a href=""><i class="fa fa-user rm-i"></i>Profile</a></li>
          <li><md-button ng-click="toggleLeft()">Open</md-button></li>
          <li role="separator" class="divider"></li>
          <li><a href="" ng-click="vm.logOut()"><i class="fa fa-sign-out rm-i"></i>LogOut</a></li>
        </ul>
      </div>
    </li>
    <li ng-if="vm.userControle" role="presentation" class="pull-right"><a ui-sref="auth.signin"><i class="fa fa-sign-in rm-i"></i>Sign in</a></li>
  </ul>
</div>








<div class="container books-block">
  <div class="col-sm-5 col-lg-3 menu">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" class="form-control search_panel" aria-describedby="basic-addon1" ng-model="search">
    </div><br>
    <div class="panel panel-default">
      <a href="" ng-click="vm.clickCartFunc()">
        <div class="panel-heading panel-categories">
          <h5><i class="fa fa-shopping-cart rm-i"></i>Cart<i class="fa lm-i" ng-class="{'fa-caret-right': vm.classArrowCart.arrowRight, 'fa-caret-down': vm.classArrowCart.arrowDown}"></i><span class="badge pull-right">{{vm.carts.length}}</span></5>
        </div>
      </a>
      <div class="panel-body cart_product" ng-if="vm.classArrowCart.arrowDown && vm.carts.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th>BOOK</th>
              <th>QTY</th>
              <th>PRICE</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cart in vm.carts">
              <td>
                {{cart.booktitle}}
              </td>
              <td>
                {{cart.query}}
              </td>
              <td>
                {{cart.price}} $
              </td>
              <td>
                <a ng-click="vm.deleteOneCart(cart.id)" class="btn btn-danger">
                  <i class="glyphicon glyphicon-minus"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <a class="btn btn-success pull-left" role="button" ui-sref="site.cart"><i class="glyphicon glyphicon-list rm-i"></i>Order</a>
        <a class="btn btn-danger" role="button" ng-click="vm.dropTable()">del</a>
      </div>
    </div>
    <div class="panel panel-default">
      <a href="" ng-click="vm.clickMenuFunc()">
        <div class="panel-heading panel-categories">
          <h5><i class="glyphicon glyphicon-th-list rm-i"></i>Categories<i class="fa pull-right" ng-class="{'fa-caret-right': vm.classArrow.arrowRight, 'fa-caret-down': vm.classArrow.arrowDown}"></i></h5>
        </div>
      </a>
      <div class="panel-body menu_category" ng-if="vm.classArrow.arrowDown">
        <table class="table">
          <tr ng-repeat="book in vm.categories">
            <td ui-sref-active="active_menu">
              <a ui-sref="site.category({id: book.category})">
                <div class="category_name">
                  {{book.category}}
                  <span class="badge pull-right">{{book.lengthCat}}</span>
                </div>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-7 col-lg-9">
    <div class="row">
      <ui-view></ui-view>
    </div>
  </div>
</div>

<div class="footer br-nav-t">
  <p class="text-center">&copy; 2017 Simple Solution and Co.<p>
</div>
-->