<a ng-click="vm.logOut()" class="btn btn-danger logout">LogOut</a>
<a ui-sref="admin.orders" class="btn btn-info orders">Orders</a>

<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="pull-left rm-i"><b>List Order Prodects</b></h5> 
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" ng-class="{ red: lengthArr.length == 0 }" placeholder="Search" aria-describedby="basic-addon1" ng-model="search">
      </div>
    </div>
    
    <div class="panel-body">
      <table class="table">

        <thead>
          <tr>
            <td ng-click="vm.sortFunc('price')"><b>Title</b></td>
            <td ng-click="vm.sortFunc('author')"><b>Author</b></td>
            <td ng-click="vm.sortFunc('category')"><b>Category</b></td>
            <td ng-click="vm.sortFunc('price')"><b>Price</b></td>
          </tr>
        </thead>
        
        <tbody>
          <tr ng-repeat="order in lengthArr = ( vm.orderProducts | filter: search | orderBy: main.sortStr )">
            <td ng-bind="order.book.title"></td>
            <td ng-bind="order.book.author"></td>
            <td ng-bind="order.book.category"></td>
            <td >{{order.price}} $</td>
          </tr>
          <tr>
            <td colspan="4">
              <h4 class="red pull-right"><b>Total:</b> {{vm.totalPrice}} $</h4>
            </td>
          </tr>
        </tbody>
      
      </table>
    </div>
  
  </div>

  <div class="text-center" ng-bind="'Кількість продуктів в замовленні: ' + lengthArr.length"></div>

</div>